<style>
html {
    height: 80%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ffffff00; /* Цвет фона */
    background: #ffffff;
    margin: 0;
    color: rgb(0, 0, 0); /* Цвет текста */
}
.navbar {
    text-align: left;
    width: 100%;
  }
  .navbar ul {
    display:inline-block;
  }
  .navbar li {
    float: left;
    margin-left:-16px;
    margin-top: 12px;
    margin-right: 35px;
  }
  .navbar li + li {
     margin-left:10px;
     margin-right: 10px;
  }
  ul {
    list-style-type: 
    none;
  }
  .input1{
      margin-top: -8px;
      width: 637px;
      height: 42px;
      padding-left: 42px;
      border-radius: 42px;
      border: 1px solid lightgray;
      background: #ffffff;
      position: relative;
      transition: .0s linear;
  }
  .navbar-hr {
    border: none;
    background-color: lightgray;
    color: lightslategray;
    height: 0.5px;
    margin-top: 34px;
   }
   .body-hr {
    border: none;
    background-color: lightgray;
    color: lightslategray;
    height: 0.5px;
    margin-top: 34px;
    margin-top: 5px;
   }
   .otstup-left-for-about{
    margin-top:13px;
    font-size: 16px;
    color:lightslategray;
   }
   .for-rvt{
    margin-top:15px;
    font-size: 15px;
   }
   .zagolovok-RVT{
    margin-top:-5px;
    font-size: 22px;
   }
   .text-under-rvt{
       color:lightslategray;
   }
   a{
       color: blue;
   }
   .looking{
       position:absolute; 
       top:20%; 
       left:18%;
       margin-top: -75px;
       margin-left: -150px;
       width: 600px;
       border: 0px solid lightslategray;
   }
    .links li {
        float: left;
        margin-top: -13px;
        margin-right: 50px;
        margin-left: -40px;
    }
    .links li + li {
        margin-right: 50px;
    }
    .table-t {
        width: 500px;
        border: 1px solid gray;
        border-radius: 6px;
        margin-left: 47.5%;
        margin-top: 2.5%;
    }
    .text-margin{
        margin-left:10px;
    }
    button{
        background-color: #FFFFFF;;
        color: solid gray;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }
    #footer1 {
        left: 0mm;
        right: 0mm;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 15px 30px;
        position: absolute;
        font-size: 15px;
        bottom: -35%;
        border-bottom: 1px solid rgb(197, 197, 197);
        grid-template-columns: 70px;
        grid-template-areas: "latvia am boypa upl lm";
        grid-template-rows: 50px;
        text-decoration: none;
        font-family: arial,sans-serif;
    }
    
    #latvia {
        margin-left: 10%;
        color: rgba(0,0,0,.54);
        grid-area: about;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
    
    #am {
        color: #3c4043;
        font-weight: bold;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
    
    #boypa {
        color: rgba(0,0,0,.54);
        grid-area: boypa;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
    
    #upl {
        color: rgba(0,0,0,.54);
        grid-area: upl;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
    
    #lm {
        color: rgba(0,0,0,.54);
        grid-area: lm;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
    
    #footer2 {
        left: 0mm;
        right:0mm;
        background-color: rgba(0, 0, 0, 0.05);
        position: absolute;
        display: grid;
        bottom: -40%;
        grid-template-columns: 80px 100px 80px 60px;
        grid-template-areas: "help sf privacy terms";
        grid-template-rows: 50px;
        font-size: 15px;
        font-family: arial,sans-serif;
        padding-left: 10%;
    }
    
    #help {
        grid-area: help;
        justify-self: center;
        align-self: center;
        font-size: 14px;
        text-decoration: none;
        color: rgba(0,0,0,.54);
    }
    
    #sf {
        color: rgba(0,0,0,.54);
        grid-area: sf;
        justify-self: center;
        align-self: center;
        font-size: 14px;
        text-decoration: none;
    }
    
    #privacy {
        color: rgba(0,0,0,.54);
        grid-area: privacy;
        justify-self: center;
        align-self: center;
        font-size: 14px;
        text-decoration: none;
    }
    
    #terms {
        color: rgba(0,0,0,.54);
        grid-area: terms;
        justify-self: center;
        align-self: center;
        font-size: 14px;
        text-decoration: none;
    }
    </style>