<style >
body {
    background-color: #00000000; /* Цвет фона */
    background: #000000;
    margin: 0;
    color: #ffffffff; /* Цвет текста */
}
.image-wrap {
  width: 1500px;
  height: 150px;
  border: 0px solid white;
}
.image-wrap2 {
  width: 1500px;
  height: 575px;
  border: 0px solid white;
}
.header {
  width: 1500;
  height: 40px;
  border: 2px solid white;
}
.image-center{
  display: block;
  margin: auto;
  size: 300px;
}
.image-align{
  text-align: center;
}
.image-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
input::-webkit-input-placeholder {
  color: #9aa0a6; 
  background: #FFFFFF;
}
input:-moz-placeholder {
  color: #9aa0a6; 
  background: #FFFFFF;
}
input:-ms-input-placeholder {
  color: color: #9aa0a6; 
  background: #FFFFFF;
}
* {box-sizing: border-box;}
form {
  width: auto;
  margin-right: 30px;
  text-align: bottom;
}
input {
  width: 400px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: none;
  background: #FFFFFF;
  outline: none;
  position: relative;
  transition: .0s linear;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 319px;
  left: 715px;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #9aa0a6;
}
a{
  color:#FFFFFF;
  text-decoration:none
}
.links-right{
  right:200px;
}
{box-sizing: 
  border-box;
  }
.links-right{
  right: 0px;
}
.links-right{
  display: block;
  text-align: right;
}
.table {
  display: table; 
  text-align: right;
  }
.row { 
  display: table-row;
  text-align: right;
  }
.cell { 
  display: table-cell; 
  text-align: right;
  }
.navbar {
  text-align: right;
  width: 100%;
}
.navbar ul {
  display:inline-block;
}
.navbar li {
  float: left;
}
.navbar li + li {
   margin-left:10px;
}
ul {
  list-style-type: 
  none;
}
.center-img {
  display: block;
  margin: 0 auto;
}
.s1{
  margin-top:3px;
  color:#9aa0a6;
  height:20px;
  width:20px
}
.s2{
  display:inline-block;
  fill:currentColor;
  line-height:24px;
  position:relative;
}
.button-settings-right{
  text-align: right;
}
</style>