<style>
html {
    height: 80%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ffffff00; /* Цвет фона */
    background: #ffffff;
    margin: 0;
    color: rgb(0, 0, 0); /* Цвет текста */
}
.navbar {
    text-align: left;
    width: 100%;
  }
  .navbar ul {
    display:inline-block;
  }
  .navbar li {
    float: left;
    margin-left:-16px;
    margin-top: 12px;
    margin-right: 35px;
  }
  .navbar li + li {
     margin-left:10px;
     margin-right: 10px;
  }
  ul {
    list-style-type: 
    none;
  }
  .input1{
      margin-top: -8px;
      width: 637px;
      height: 42px;
      padding-left: 50px;
      border-radius: 42px;
      border: 1px solid lightgray;
      background: #ffffff;
      position: relative;
      transition: .0s linear;
  }
  hr {
    border: none;
    background-color: lightgray;
    color: lightslategray;
    height: 0.5px;
    margin-top: 34px;
   }
   .otstup-left-for-about{
    margin-top:13px;
    font-size: 16px;
    color:lightslategray;
   }
   .for-rvt{
    margin-top:15px;
    font-size: 15px;
   }
   .zagolovok-RVT{
    margin-top:-5px;
    font-size: 22px;
   }
   .text-under-rvt{
       color:lightslategray;
   }
   a{
       color: blue;
   }
   .looking{
       position:absolute; 
       top:20%; 
       left:18%;
       margin-top: -75px;
       margin-left: -150px;
       width: 600px;
       border: 0px solid lightslategray;
   }
    .links li {
    float: left;
    margin-top: -13px;
    margin-right: 50px;
    margin-left: -40px;
    }
    .links li + li {
    margin-right: 50px;
    </style>